services:
  web-app:
    build:
      context: ./interv-ai
      args:
        - NEXT_PUBLIC_LIVEKIT_URL=http://localhost:7880
    ports:
      - "3000:3000"
    env_file:
      - interv-ai/.env
    environment:
      - LIVEKIT_API_KEY=devkey
      - LIVEKIT_API_SECRET=secret
      - LIVEKIT_URL=http://livekit:7880
      - NEXT_PUBLIC_LIVEKIT_URL=http://localhost:7880
      - NEXTAUTH_SECRET=secret
      - NEXTAUTH_URL=http://localhost:3000
    depends_on:
      - livekit

  livekit:
    image: livekit/livekit-server:latest
    command: --config /livekit.yaml --devel
    ports:
      - "7880:7880"
      - "7881:7881"
      - "50000-50020:50000-50020/udp"
    volumes:
      - ./livekit.yaml:/livekit.yaml


  worker:
    build: ./livekit-worker
    env_file:
      - .env
    environment:
      - LIVEKIT_URL=http://livekit:7880
      - LIVEKIT_API_KEY=devkey
      - LIVEKIT_API_SECRET=secret
      - LIVEKIT_API_SECRET=secret
      - GOOGLE_APPLICATION_CREDENTIALS=/app/gcp-key.json
    volumes:
      - ./google_creds.json:/app/gcp-key.json
    depends_on:
      - livekit

