services:
  web-app:
    build:
      context: ./interv-ai
      args:
        - NEXT_PUBLIC_LIVEKIT_URL=wss://orbit-xbxv09ai.livekit.cloud
    ports:
      - "3000:3000"
    env_file:
      - ./interv-ai/.env
    depends_on:
      - worker

  worker:
    build: ./livekit-worker
    env_file:
      - ./livekit-worker/.env
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/var/secrets/gcp-key.json
    volumes:
      - ./livekit-worker/keys/gcp-speech.json:/var/secrets/gcp-key.json:ro
